<dialog id="alert" class="modal"><!-- Open the modal using ID.showModal() method -->
  <div class="modal-box">
    <h3 class="text-lg font-bold" id="title"></h3>
    <p class="py-4" id="msg"></p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">OK</button><!-- if there is a button in form, it will close the modal -->
      </form>
    </div>
  </div>
</dialog>