---
import '../styles/global.css'
import Alert from '../components/Alert.astro';
const {title,alert} = Astro.props;//Astro会自动添加`<!DOCTYPE html>`，浏览器会自动添加html、head、body标签
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">{/*响应式设计的基础 */}
<link rel="icon" href="data:,">{/*不添加的话首次访问时浏览器会自动访问/favicon.ico弹出404 */}
<title>{title}</title>
{alert && <Alert/>}
<slot/>