---
const {title,alert} = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="data:,">
    <title>{title}</title>
    <style is:global>
      @import "tailwindcss" source("..");
      @plugin "daisyui" {
          themes:light --default,dark --prefersdark;
          logs: false;
      }
      textarea { resize: none; }
    </style>
  </head>
  <body>
    <slot/>
    {alert &&
      <dialog id="alert" class="modal">
        <div class="modal-box">
          <h3 class="text-lg font-bold" id="title"></h3>
          <p class="py-4" id="msg"></p>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">OK</button><!-- if there is a button in form, it will close the modal -->
            </form>
          </div>
        </div>
      </dialog>
    }
  </body>
</html>